/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* BEGIN UNREAD MESSAGE HIGHLIGHTING */

#threadTree treechildren::-moz-tree-cell(unread) {
	-moz-appearance: none !important;
	background-color: #EBE0FF !important;
	margin: -1px !important;
	padding: 3px !important;
}

#threadTree treechildren::-moz-tree-cell(unread,selected) {
	background-color: Highlight !important;
}

#threadTree treechildren::-moz-tree-cell-text(unread) {
    color: #333333 !important;
}

#threadTree treechildren::-moz-tree-cell-text(unread,selected) {
    color: #FFFFFF !important;
}

/* 	This matches one of my label colors (label is applied to messages via filters in PostBox) 
 *	Find out your label colors by using something like PixelStick or taking a screenshot and inspecting/sampling in an image editing app
 *	Label for work messages
 */
#threadTree treechildren::-moz-tree-row(lc-330099) {
	background-color: #B5D5FF !important;
}

#threadTree treechildren::-moz-tree-cell-text(lc-330099) {
    color: #333333 !important;
}

#threadTree treechildren::-moz-tree-cell-text(lc-330099,selected) {
    color: #FFFFFF !important;
}

#threadTree treechildren::-moz-tree-row(lc-330099,selected) {
	background-color: Highlight !important;
}

/*	
 *	ToDo messages
 */
#threadTree treechildren::-moz-tree-row(flagged) {
	background-color: #FFE7EA !important;
}